$fontPage: Arial, Helvetica, sans-serif;
$widthMediunCol: 520px;
$green: #009239;
.filter-wrapper {
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background: transparent;
        border: none;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        border: none;
    }
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
    .select2-container--default .select2-selection--multiple {
        border: none;
        outline: none;
        background: transparent;
    }
    .select2-selection--multiple {
        padding-right: 15px;
        &:before {
            content: "";
            position: absolute;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 10px;
            height: 10px;
            background: url(./../img/arrow-select.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
        background: url(./../img/arrow-select.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: transform 0.3s ease;
        pointer-events: none;
        border: none;
        b {
            display: none;
        }
        .select2-container--open .select2-selection--single .select2-selection__arrow {
            transform: rotate(180deg);
        }
    }
}
.serch-sort-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .sort-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 15px;
        padding-bottom: 20px;
        .sort-title {
            font-family: $fontPage;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #605A5A;
            padding-right: 10px;
        }
        select {
            width: 160px;
            max-width: 100%;
        }
    }
}
.search-container {
    padding-top: 15px;
    padding-bottom: 20px;
    .search-title {
        font-family: $fontPage;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: #605A5A;
        padding-bottom: 15px;
    }
    .search-row {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        .input-search {
            background: #FFFFFF;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            outline: none;
            border: none;
            font-family: $fontPage;
            font-size: 15px;
            line-height: 17px;
            width: 345px;
            max-width: 100%;
            padding: 10px 15px;
        }
        .btn-search {
            background: $green;
            border-radius: 10px;
            font-family: $fontPage;
            font-weight: bold;
            font-size: 15px;
            line-height: 17px;
            color: #FFFFFF;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 15px;
            margin-left: 12px;
        }
    }
}
.ankets-container {
    background: #FFFFFF;
    border: 1px solid #D6D4D4;
    border-radius: 5px;
    .anket-item,
    .anket-form,
    .anket-answer {
        padding: 30px 25px;
    }
    .anket-item {
        position: relative;
        .first-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left-col {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .anket-date {
                    padding-left: 25px;
                }
            }
        }
        .alert-container {
            .label-alert {
                padding: 10px 15px;
                border-radius: 5px;
                font-family: $fontPage;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                &.label-alert-new {
                    background: #8986c0;
                }
                &.label-alert-work {
                    background: #fdbd83;
                }
                &.label-alert-expired {
                    background: #f29db2;
                }
                &.label-alert-closed {
                    background: #0acc54;
                }
            }
        }
        .anket-date {
            font-family: $fontPage;
            font-weight: normal;
            font-size: 15px;
            line-height: 17px;
            color: #BEBEBE;
        }
        .btn-answer {
            border: 2px solid $green;
            border-radius: 10px;
            padding: 10px 25px;
            font-family: $fontPage;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 17px;
            color: $green;
            display: inline-block;
            cursor: pointer;
            position: absolute;
            right: 25px;
            bottom: 35px;
        }
    }
    .info-row {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        .left-col {
            width: 180px;
        }
        .right-col {
            padding-left: 25px;
            width: calc(100% - 180px);
        }
    }
    .stars-wrapper {
        display: inline-flex;
        max-width: 180px;
        padding-top: 25px;
        .star{
            margin-left: 10px;
            width: 27px;
            height: 27px;
            background-image: url('../img/star.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .star-empty {
            margin-left: 10px;
            width: 27px;
            height: 27px;
            background-image: url('../img/star-empty.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; 
        }
        .star:first-child{
            margin-left: 0;
        }
    }
    .action-list {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        .list-item {
            display: inline-block;
            width: 150px;
            max-width: 100%;
            font-family: $fontPage;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #535050;
            position: relative;
            padding-right: 20px;
            padding-bottom: 10px;
            text-decoration: none;
            &.active {
                .icon {
                    background: $green;
                }
            }
            .icon {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: none;
                outline: none;
                background: #C4C4C4;
                right: 0px;
                top: 0px;
                position: absolute;
                &.icon-make-main {
                    &::after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        background: url(./../img/icon-office-push-pin.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 3px;
                        left: 2.5px;
                    }
                }
                &.icon-experts-answer {
                    &::after {
                        content: "";
                        width: 8px;
                        height: 8px;
                        background: url(./../img/icon-experts-amswer.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 4px;
                        left: 4px;
                    }
                }
            }
        }           
    }
    .source-list {
        padding-bottom: 25px;
        .item {
            font-family: $fontPage;
            font-weight: normal;
            font-size: 15px;
            line-height: 17px;
            color: #BEBEBE;
            padding-right: 25px;
            display: inline-block;
            &.source-item {
                position: relative;
                padding-left: 20px;
                &::before {
                    content:"";
                    display: block;
                    width: 13px;
                    height: 13px;
                    position: absolute;
                    left: 0px;
                    top: 3px;
                }
                &.maps-icon {
                    &::before {
                        background-image:url('../img/google-maps.svg');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.subway-icon {
                    &::before {
                        background-image:url('../img/subway-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.icon-user {
                    &::before {
                        background-image:url('../img/user-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.yandex-icon {
                    &::before {
                        background-image:url('../img/yandex-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.gis-icon {
                    &::before {
                        background-image:url('../img/2gis-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.facebook-icon {
                    &::before {
                        background-image:url('../img/facebook-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                .odnoklasniki-icon {
                    &::before {
                        background-image:url('../img/odnoklassniki-icon.svg');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.vk-icon {
                    &::before {
                        background-image:url('../img/vk-icon.svg');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.youtube-icon {
                    &::before {
                        background-image:url('../img/youtube-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.instagram-icon {
                    &::before {
                        background-image:url('../img/instagram-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    .anket-text {
        font-family: $fontPage;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #605A5A;
        padding-top: 25px;
        max-width: $widthMediunCol;
        padding-bottom: 15px;
    }
    .anket-rate {
        .label {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 30px;
            padding-right: 15px;
            border-radius: 5px;
            font-family: $fontPage;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 11px;
            &.label-negative {
                display: inline-block;
                color: #F47474;
                background: rgba(223, 27, 27, 0.3);
                position: relative;
                &::before {
                    content: "";
                    background: url(./../img/icon-negative-answer.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    left: 5px;
                    top: 3px;
                    display: inline-block;
                }
            }
            &.label-neutral {
                display: inline-block;
                color: #F28E31;
                background: rgba(242, 142, 49, 0.3);
                position: relative;
                &::before {
                    content: "";
                    background: url(./../img/icon-neutral-answer.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    left: 5px;
                    top: 3px;
                    display: inline-block;
                }
            }
            &.label-positive {
                display: inline-block;
                color: #57BB4F;
                background: rgba(87, 187, 79, 0.3);
                position: relative;
                &::before {
                    content: "";
                    background: url(./../img/icon-positive-answer.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    left: 5px;
                    top: 3px;
                    display: inline-block;
                }
            }
        }
    }
    .tag-form {
        padding-top: 20px;
        padding-bottom: 20px;
        display: none;
        .form-add-tag {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            max-width: $widthMediunCol;
            .input-col {
                width: 100%;
                padding-right: 25px;
                select {
                    width: 100%;
                }
                .select2-container--default .select2-selection--multiple .select2-selection__choice {
                    border: 1px solid $green;
                    background: transparent;
                    border: none;
                    font-family: $fontPage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #605A5A;
                    outline: none;
                }
                .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
                    border-color: $green;
                    border: none;
                }
                input[type=text] {
                    width: 100%;
                    border: 1px solid #C5C5C5;
                    border-radius: 10px;
                    padding: 10px 15px;
                    font-family: $fontPage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #605A5A;
                    outline: none;
                    background: #F2F2F2;
                }
            }
            .btn-submit {
                background: $green;
                border-radius: 10px;
                outline: none;
                border: none;
                font-family: $fontPage;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 17px;
                color: #FFFFFF;
                padding: 10px 20px;
                cursor: pointer;
            }
        }
    }
    .label-list {
        padding-top: 15px;
        max-width: $widthMediunCol;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        .add-tag {
            width: 20px;
            height: 20px;
            background: url(./../img/icon-green-plus.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            cursor: pointer;
            position: relative;
            &:hover {
                .tooltip {
                    opacity: 1;
                }
            }
            .tooltip {
                position: absolute;
                opacity: 0;
                padding: 5px;
                font-family: $fontPage;
                font-size: 10px;
                line-height: 12px;
                color: rgb(55, 53, 63);
                transition: opacity 0.3s ease-in 0s;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
                background: #fff;
                border-radius: 5px;
                bottom: 30px;
                right: calc(100% - 45px);
                width: 80px;
                pointer-events: none;
                &::after{
                    content: '';
                    position: absolute;
                    left: calc(50% - 2.5px);
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #ffffff;
                    clear: both;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
                }
            }
        }
        .label {
            display: inline-block;
            margin-right: 15px;
            padding: 5px 8px;
            border-radius: 5px;
            font-family: $fontPage;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 11px;
            margin-bottom: 5px;
            &.label-blue {
                background: rgba(116, 175, 244, 0.3);
                color: #74AFF4;
            }
            &.label-green {
                background: rgba(129, 245, 127, 0.3);
                color: #81F57F;
            }
            &.label-orange {
                background: rgba(245, 198, 127, 0.3);
                color: #F5C67F;
            }
        }
    }
    .bottom-row {
        padding-top: 15px;
        .bottom-item {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            margin-right: 40px;
            text-decoration: none;
            outline: none;
            .icon {
                width: 12px;
                height: 12px;
                margin-right: 10px;
                &.icon-like {
                    background: url(./../img/icon-like.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &.icon-message {
                    background: url(./../img/icon-message.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &.icon-arrows {
                    background: url(./../img/icon-arrows.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            .count {
                font-family: $fontPage;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #A6A6A6;
            }
        }
    }
    .user-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 180px;
        .user-icon {
            min-width: 55px;
            width: 55px;
            height: 55px;
            background: #DADADA;
            border-radius: 50%;
            margin-right: 13px;
        }
        .user-name {
            font-family: $fontPage;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
        }
    }
    .anket-box {
        position: relative;
        &:last-child {
            &::after {
                display: none;
            }
        }
        &::after {
            content: "";
            position: absolute;
            height: 1px;
            background: #F4F1F1;
            bottom: 0px;
            left: 22px;
            right: 22px;
        }
    }
    .anket-form {
        background: #F2F2F2;
        display: none;
        .form-response {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .input-col {
                width: 100%;
                max-width: $widthMediunCol;
                padding-right: 25px;
                textarea {
                    width: 100%;
                    resize: none;
                    border: 1px solid #C5C5C5;
                    border-radius: 10px;
                    min-height: 75px;
                    padding: 10px 15px;
                    font-family: $fontPage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #605A5A;
                    outline: none;
                    background: #F2F2F2;
                }
            }
      
            .btn-submit {
                background: $green;
                border-radius: 10px;
                outline: none;
                border: none;
                font-family: $fontPage;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 17px;
                color: #FFFFFF;
                padding: 10px 20px;
                cursor: pointer;
            }
        }
    }
    .anket-answer {
        background: #F2F2F2;
        .answer-text {
            font-family: $fontPage;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            color: #605A5A;
        }
    }
}
@media (max-width: 1200px){
    .ankets-container .bottom-row {
        padding-bottom: 30px;
    }
}
@media (max-width: 1100px){
    .serch-sort-row {
        flex-direction: column;
        align-items: flex-start;
        .search-container {
            width: 100%;
        }
    }
}
@media (max-width: 992px){
    .ankets-container .info-row {
        flex-direction: column;
        .left-col {
            width: 100%;
            .action-list {
                align-items: flex-start;
            }
        }
        .right-col {
            width: 100%;
            padding-left: 0px;
        }
    }
    .ankets-container .anket-answer .answer-text,
    .ankets-container .anket-form .form-response {
        padding-top: 25px;
    }
}
@media (max-width: 800px){
    .ankets-container .anket-item .first-row {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .ankets-container .anket-item .alert-container {
        padding-top: 10px;
    }
}
@media (max-width: 600px){
    .search-container .search-row {
        flex-direction: column;
        align-items: flex-end;
        .btn-search-col {
            padding-top: 10px;
        }
    }
    .ankets-container .source-list .item {
        padding-top: 5px;
    }
    .ankets-container .bottom-row {
        padding-bottom: 60px;
    }
    .ankets-container .anket-form .form-response {
        flex-direction: column;
        .input-col {
            padding-right: 0px;
            padding-bottom: 10px;
        }
    }
    .ankets-container .anket-item .first-row .left-col {
        flex-direction: column;
        align-items: flex-start;
        .anket-date {
            padding-right: 0px;
            padding-left: 0px;
            padding-top: 15px;
        }
    }
    .ankets-container .bottom-row .bottom-item {
        margin-right: 15px;
    }
    .ankets-container .tag-form .form-add-tag {
        flex-direction: column;
        .input-col {
            padding-right: 0px;
            padding-bottom: 10px;
        }
    }
    .search-container .search-row .input-search {
        width: 100%;
    }
    .input-search-col {
        width: 100%;
    }
}
@media (max-width: 400px){
    .serch-sort-row .sort-container {
        flex-direction: column;
        align-items: flex-start;
        .sort-title {
            padding-bottom: 10px;
        }
    }
}