.filter-wrapper .select2-container--default .select2-selection--multiple .select2-selection__choice,
.filter-wrapper .select2-container .select2-selection--multiple {
  background: transparent;
  border: none;
}

.filter-wrapper .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border: none;
}

.filter-wrapper .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.filter-wrapper .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.filter-wrapper .select2-container--default .select2-selection--multiple {
  border: none;
  outline: none;
  background: transparent;
}

.filter-wrapper .select2-selection--multiple {
  padding-right: 15px;
}

.filter-wrapper .select2-selection--multiple:before {
  content: "";
  position: absolute;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: url(./../img/arrow-select.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.filter-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: url(./../img/arrow-select.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -o-transform 0.3s ease;
  pointer-events: none;
  border: none;
}

.filter-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.filter-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow .select2-container--open .select2-selection--single .select2-selection__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.serch-sort-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.serch-sort-row .add-review {
  padding-bottom: 20px;
}

.sort-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 15px;
  padding-bottom: 20px;
}

.sort-container .sort-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #605A5A;
  padding-right: 10px;
}

.sort-container select {
  width: 160px;
  max-width: 100%;
}

.search-container {
  padding-top: 15px;
  padding-bottom: 20px;
}

.search-container .search-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #605A5A;
  padding-bottom: 15px;
}

.search-container .search-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.search-container .search-row .input-search {
  background: #FFFFFF;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 17px;
  width: 345px;
  max-width: 100%;
  padding: 10px 15px;
}

.search-container .search-row .btn-search {
  background: #0e9544;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  margin-left: 12px;
  -webkit-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.search-container .search-row .btn-search:hover {
  background: #008963;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.white-info-block.expired {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(223, 27, 27, 0.3);
          box-shadow: 0px 0px 10px 2px rgba(223, 27, 27, 0.3);
}

.alert-container .label-alert {
  padding: 10px 15px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  display: inline-block;
}

.alert-container .label-alert.label-new {
  background: #8986c0;
}

.alert-container .label-alert.label-work {
  background: #fdbd83;
}

.alert-container .label-alert.label-revision {
  background: #ece270;
}

.alert-container .label-alert.label-approval {
  background: #fdbd83;
}

.alert-container .label-alert.label-closed {
  background: #0acc54;
}

.alert-container .label-alert.label-expired {
  background: #f29db2;
}

.labels-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.labels-wrapper .label-item {
  width: 33.3%;
  border-radius: 20px;
  padding: 15px 30px;
  padding-right: 50px;
  position: relative;
  max-width: 350px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 30px;
  margin-bottom: 10px;
  min-width: 200px;
}

.labels-wrapper .label-item:last-child {
  margin-right: 0px;
}

.labels-wrapper .label-item.label-violet::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #5b52a5;
  -webkit-box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
          box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.8;
  z-index: 5;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-violet::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(./../img/label-violet-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 10;
  opacity: 0.8;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-orange::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #FFAF67;
  -webkit-box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
          box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.8;
  z-index: 5;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-orange::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(./../img/label-orange-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 10;
  opacity: 0.8;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-pink::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(244, 71, 113, 0.62);
  -webkit-box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
          box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.8;
  z-index: 5;
  border-radius: 20px;
}

.labels-wrapper .label-item.label-pink::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(./../img/label-pink-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 10;
  opacity: 0.8;
  border-radius: 20px;
}

.labels-wrapper .label-item .label-row {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.labels-wrapper .label-item .info-col .value {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  padding-bottom: 5px;
}

.labels-wrapper .label-item .info-col .name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.labels-wrapper .label-item .icon-col .label-icon {
  width: 32px;
  height: 32px;
}

.labels-wrapper .label-item .icon-col .label-icon.icon-synchr {
  background: url(./../img/icon-synchr.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.labels-wrapper .label-item .icon-col .label-icon.icon-sent {
  background: url(./../img/icon-sent.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.labels-wrapper .label-item .icon-col .label-icon.icon-attention {
  background: url(./../img/icon-attention.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.review-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review-info .info-header {
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 22px;
  line-height: 24px;
  width: 100%;
  text-align: center;
}

.review-info .info-item {
  padding-bottom: 15px;
  max-width: 520px;
  width: calc(50% - 20px);
}

.review-info .info-item .info-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 5px;
}

.review-info .info-item .info-value {
  border: 1px solid #BEBEBE;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 10px 15px;
  outline: none;
  width: 100%;
  max-width: 520px;
}

.review-info .info-item .info-photo {
  border: 1px solid #BEBEBE;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

.review-info .info-item .info-photo img {
  max-width: 220px;
  max-height: 320px;
  -o-object-fit: contain;
     object-fit: contain;
}

.ankets-container {
  background: #FFFFFF;
  border: 1px solid #D6D4D4;
  border-radius: 5px;
}

.ankets-container .anket-item,
.ankets-container .anket-form,
.ankets-container .anket-answer {
  padding: 30px 25px;
}

.ankets-container .anket-item {
  position: relative;
}

.ankets-container .anket-item.expired {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(223, 27, 27, 0.3);
          box-shadow: 0px 0px 10px 2px rgba(223, 27, 27, 0.3);
}

.ankets-container .anket-item .first-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ankets-container .anket-item .first-row .left-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ankets-container .anket-item .first-row .left-col .anket-date {
  padding-left: 25px;
}

.ankets-container .anket-item .anket-date {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #BEBEBE;
}

.ankets-container .anket-item .btn-answer {
  border: 2px solid #0e9544;
  border-radius: 10px;
  padding: 10px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #0e9544;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 35px;
  -webkit-transition: border-color 0.3s ease-in;
  -o-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}

.ankets-container .anket-item .btn-answer:hover {
  border-color: #008963;
}

.ankets-container .anket-item .top-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ankets-container .timer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.ankets-container .timer.red {
  color: red;
  -webkit-animation: blinker 1s linear infinite;
       -o-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

.ankets-container .timer .sep {
  padding-bottom: 2px;
  padding-right: 1px;
  padding-left: 1px;
}

.ankets-container .btn-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ankets-container .info-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ankets-container .info-row .left-col {
  width: 180px;
}

.ankets-container .info-row .right-col {
  padding-left: 25px;
  width: calc(100% - 180px);
}

.ankets-container .stars-wrapper {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 180px;
  padding-top: 25px;
}

.ankets-container .stars-wrapper .star {
  margin-left: 10px;
  width: 27px;
  height: 27px;
  background-image: url("../img/star.svg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .stars-wrapper .star-empty {
  margin-left: 10px;
  width: 27px;
  height: 27px;
  background-image: url("../img/star-empty.svg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .stars-wrapper .star:first-child {
  margin-left: 0;
}

.ankets-container .action-list {
  padding-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ankets-container .action-list .list-item {
  display: inline-block;
  width: 150px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #535050;
  position: relative;
  padding-right: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}

.ankets-container .action-list .list-item.active .icon {
  background: #0e9544;
}

.ankets-container .action-list .list-item .icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #C4C4C4;
  right: 0px;
  top: 0px;
  position: absolute;
}

.ankets-container .action-list .list-item .icon.icon-make-main::after {
  content: "";
  width: 10px;
  height: 10px;
  background: url(./../img/icon-office-push-pin.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  top: 3px;
  left: 2.5px;
}

.ankets-container .action-list .list-item .icon.icon-experts-answer::after {
  content: "";
  width: 8px;
  height: 8px;
  background: url(./../img/icon-experts-amswer.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  top: 4px;
  left: 4px;
}

.ankets-container .source-list {
  padding-bottom: 25px;
}

.ankets-container .source-list .item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #BEBEBE;
  padding-right: 25px;
  display: inline-block;
}

.ankets-container .source-list .item.source-item {
  position: relative;
  padding-left: 20px;
}

.ankets-container .source-list .item.source-item::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0px;
  top: 3px;
}

.ankets-container .source-list .item.source-item.google-map::before {
  background-image: url("../img/google-maps.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .source-list .item.source-item.unilab-icon::before {
  background-image: url("../img/unilab-icon.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .source-list .item.source-item.icon-user::before {
  background-image: url("../img/user-icon.png");
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .source-list .item.source-item.yandex-map::before {
  background-image: url("../img/yandex-icon.png");
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .source-list .item.source-item.gis-icon::before {
  background-image: url("../img/2gis-icon.png");
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .source-list .item.source-item.facebook-social::before {
  background-image: url("../img/facebook-icon.png");
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .source-list .item.source-item.ok-social::before {
  background-image: url("../img/odnoklassniki-icon.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .source-list .item.source-item.vk-social::before {
  background-image: url("../img/vk-icon.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .source-list .item.source-item.youtube-social::before {
  background-image: url("../img/youtube-icon.png");
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .source-list .item.source-item.instagram-social::before {
  background-image: url("../img/instagram-icon.png");
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ankets-container .anket-text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #605A5A;
  padding-top: 25px;
  max-width: 520px;
  padding-bottom: 15px;
}

.ankets-container .anket-rate .label {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 15px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 11px;
}

.ankets-container .anket-rate .label.label-negative {
  display: inline-block;
  color: #F47474;
  background: rgba(223, 27, 27, 0.3);
  position: relative;
}

.ankets-container .anket-rate .label.label-negative::before {
  content: "";
  background: url(./../img/icon-negative-answer.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 5px;
  top: 3px;
  display: inline-block;
}

.ankets-container .anket-rate .label.label-neutral {
  display: inline-block;
  color: #F28E31;
  background: rgba(242, 142, 49, 0.3);
  position: relative;
}

.ankets-container .anket-rate .label.label-neutral::before {
  content: "";
  background: url(./../img/icon-neutral-answer.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 5px;
  top: 3px;
  display: inline-block;
}

.ankets-container .anket-rate .label.label-positive {
  display: inline-block;
  color: #57BB4F;
  background: rgba(87, 187, 79, 0.3);
  position: relative;
}

.ankets-container .anket-rate .label.label-positive::before {
  content: "";
  background: url(./../img/icon-positive-answer.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 5px;
  top: 3px;
  display: inline-block;
}

.ankets-container div.form-add-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start !important;
  -webkit-align-items: flex-start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 520px;
}

.ankets-container div.form-add-tag .select2-container--default .select2-selection--single .select2-selection__clear {
  margin-right: 10px;
  color: #888;
  font-size: 10px;
}

.ankets-container div.form-add-tag .select2-container .select2-selection--multiple {
  min-height: 36px;
}

.ankets-container div.form-add-tag .select2-container .select2-selection--single .select2-selection__clear {
  padding-top: 2px;
}

.ankets-container div.form-add-tag .select2-container--krajee .select2-selection--multiple .select2-selection__choice {
  background: transparent;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.ankets-container div.form-add-tag .select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px;
}

.ankets-container div.form-add-tag .select2-container .select2-selection--multiple {
  display: inline-block;
  width: 100%;
}

.ankets-container div.form-add-tag .select2-container--default .select2-selection--single,
.ankets-container div.form-add-tag .select2-container .select2-selection--single {
  padding: 10px 5px;
  position: relative;
}

.ankets-container div.form-add-tag .select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 15px;
  line-height: 17px;
}

.ankets-container div.form-add-tag .select2-container--krajee .select2-selection--single .select2-selection__arrow {
  border-left: none;
}

.ankets-container div.form-add-tag .select2-container--default .select2-selection--single .select2-selection__clear {
  margin-top: -10px;
}

.ankets-container div.form-add-tag .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 15px;
  line-height: 17px;
}

.ankets-container div.form-add-tag .select2-container--default .select2-selection--multiple {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  line-height: 17px;
  padding: 3px 10px;
  min-height: 36px;
}

.ankets-container div.form-add-tag .select2-container--default .select2-selection--single .select2-selection__clear {
  height: 38px;
}

.ankets-container div.form-add-tag .select2-container .select2-selection--single,
.ankets-container div.form-add-tag .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

.ankets-container div.form-add-tag .form-group {
  margin: 0px;
}

.ankets-container div.form-add-tag .input-col {
  width: 100%;
  padding-right: 25px;
}

.ankets-container div.form-add-tag .input-col select {
  width: 100%;
}

.ankets-container div.form-add-tag .input-col .select2-container--default .select2-selection--multiple .select2-selection__choice {
  border: 1px solid #0e9544;
  background: transparent;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #605A5A;
  outline: none;
}

.ankets-container div.form-add-tag .input-col .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border-color: #0e9544;
  border: none;
}

.ankets-container div.form-add-tag .input-col input[type=text] {
  width: 100%;
  border: 1px solid #C5C5C5;
  border-radius: 10px;
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #605A5A;
  outline: none;
  background: #F2F2F2;
}

.ankets-container div.form-add-tag .btn-submit {
  background: #0e9544;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  min-width: 130px;
  text-align: center;
  -webkit-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.ankets-container div.form-add-tag .btn-submit:hover {
  background: #008963;
}

.ankets-container .tag-form {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.ankets-container .label-list {
  padding-top: 15px;
  max-width: 520px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.ankets-container .label-list .add-tag {
  width: 20px;
  height: 20px;
  background: url(./../img/icon-green-plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.ankets-container .label-list .add-tag:hover .tooltip {
  opacity: 1;
}

.ankets-container .label-list .add-tag .tooltip {
  position: absolute;
  opacity: 0;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #37353f;
  -webkit-transition: opacity 0.3s ease-in 0s;
  -o-transition: opacity 0.3s ease-in 0s;
  transition: opacity 0.3s ease-in 0s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
  background: #fff;
  border-radius: 5px;
  bottom: 30px;
  right: calc(100% - 45px);
  width: 80px;
  pointer-events: none;
}

.ankets-container .label-list .add-tag .tooltip::after {
  content: '';
  position: absolute;
  left: calc(50% - 2.5px);
  top: 100%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
  clear: both;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
}

.ankets-container .label-list .label {
  display: inline-block;
  margin-right: 15px;
  padding: 5px 8px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 11px;
  margin-bottom: 5px;
}

.ankets-container .label-list .label.label-blue {
  background: rgba(116, 175, 244, 0.3);
  color: #74AFF4;
}

.ankets-container .label-list .label.label-green {
  background: rgba(129, 245, 127, 0.3);
  color: #81F57F;
}

.ankets-container .label-list .label.label-orange {
  background: rgba(245, 198, 127, 0.3);
  color: #F5C67F;
}

.ankets-container .bottom-row {
  padding-top: 15px;
}

.ankets-container .bottom-row .bottom-item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 40px;
  text-decoration: none;
  outline: none;
}

.ankets-container .bottom-row .bottom-item .icon {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.ankets-container .bottom-row .bottom-item .icon.icon-like {
  background: url(./../img/icon-like.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.ankets-container .bottom-row .bottom-item .icon.icon-message {
  background: url(./../img/icon-message.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.ankets-container .bottom-row .bottom-item .icon.icon-arrows {
  background: url(./../img/icon-arrows.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.ankets-container .bottom-row .bottom-item .count {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #A6A6A6;
}

.ankets-container .user-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 180px;
}

.ankets-container .user-info .user-icon {
  min-width: 55px;
  width: 55px;
  height: 55px;
  background: #DADADA;
  border-radius: 50%;
  margin-right: 13px;
}

.ankets-container .user-info .user-name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  max-width: 110px;
  overflow: hidden;
}

.ankets-container .user-info .user-phone,
.ankets-container .user-info .user-email {
  font-size: 12px;
  padding-top: 2px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  max-width: 110px;
  overflow: hidden;
  font-weight: 600;
  padding-bottom: 2px;
}

.ankets-container .anket-box {
  position: relative;
}

.ankets-container .anket-box:last-child::after {
  display: none;
}

.ankets-container .anket-box::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #F4F1F1;
  bottom: 0px;
  left: 22px;
  right: 22px;
}

.ankets-container .anket-form {
  background: #F2F2F2;
  display: none;
}

.ankets-container .anket-form .form-response {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ankets-container .anket-form .form-response .input-col {
  width: 100%;
  max-width: 520px;
  padding-right: 25px;
}

.ankets-container .anket-form .form-response .input-col textarea {
  width: 100%;
  resize: none;
  border: 1px solid #C5C5C5;
  border-radius: 10px;
  min-height: 75px;
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #605A5A;
  outline: none;
  background: #F2F2F2;
}

.ankets-container .anket-form .form-response .btn-submit {
  background: #0e9544;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.ankets-container .anket-form .form-response .btn-submit:hover {
  background: #008963;
}

.ankets-container .anket-answer {
  background: #F2F2F2;
}

.ankets-container .anket-answer .answer-text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #605A5A;
}

.ankets-container .type-form .form-add-type .btn-submit {
  min-width: 130px;
  text-align: center;
}

.btn-default {
  padding: 10px 15px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #0e9544;
  border: 2px solid #0e9544;
  outline: none;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
  display: inline-block;
}

.btn-default:hover {
  background-color: #008963;
}

.btn-default:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-invert {
  padding: 10px 15px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #0e9544;
  text-decoration: none;
  background-color: #ffffff;
  border-color: #0e9544;
  border: 2px solid #0e9544;
  outline: none;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
  display: inline-block;
}

.work-block {
  padding-top: 20px;
}

.content-box {
  padding: 30px;
  background: #FFFFFF;
  border-radius: 5px;
}

form .form-title {
  padding-bottom: 30px;
}

form .form-cont .input-item {
  padding-bottom: 15px;
}

form .form-cont .input-item.has-error .input-label {
  color: red;
}

form .form-cont .input-item.has-error input[type=text] {
  -webkit-box-shadow: 5px 5px 5px rgba(223, 27, 27, 0.3);
          box-shadow: 5px 5px 5px rgba(223, 27, 27, 0.3);
}

form .form-cont .input-item .input-label {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

form .form-cont .input-item .text-error {
  padding-top: 5px;
  color: red;
  font-size: 14px;
  line-height: 16px;
  display: none;
}

form .form-cont .input-item input[type=text],
form .form-cont .input-item input[type=tel],
form .form-cont .input-item input[type=email] {
  border: 1px solid #BEBEBE;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 10px 15px;
  outline: none;
  width: 100%;
  max-width: 520px;
}

form .form-cont .input-item input[type=text]:focus,
form .form-cont .input-item input[type=tel]:focus,
form .form-cont .input-item input[type=email]:focus {
  border-color: #0e9544;
}

form .form-cont .input-item textarea {
  border: 1px solid #BEBEBE;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 10px 15px;
  outline: none;
  width: 100%;
  resize: none;
  max-width: 520px;
}

form .form-cont .input-item textarea:focus {
  border-color: #0e9544;
}

form .form-cont .input-item .answer-template {
  min-height: 82px;
}

form .form-cont .input-item .radio-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 10px;
  padding-right: 10px;
}

form .form-cont .input-item input[type=checkbox],
form .form-cont .input-item input[type=radio] {
  display: none;
}

form .form-cont .input-item input[type=checkbox]:checked + label::before,
form .form-cont .input-item input[type=radio]:checked + label::before {
  background: #008963;
  border-color: #008963;
}

form .form-cont .input-item input[type=checkbox] + label,
form .form-cont .input-item input[type=radio] + label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

form .form-cont .input-item input[type=checkbox] + label::before,
form .form-cont .input-item input[type=radio] + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  border: 1px solid #0e9544;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

form .form-cont .select-wrapper {
  width: 100%;
}

form .form-cont .select-wrapper select {
  width: 100%;
  max-width: 520px;
}

form .form-cont .select-wrapper .select2-container {
  width: 100% !important;
  max-width: 520px;
}

form .form-cont .select-wrapper .select2-container.select2-container--open .select2-selection--single {
  border-color: #0e9544;
}

form .form-cont .select-wrapper .select2-container--default .select2-selection--single {
  padding: 10px 5px;
  font-style: normal;
  font-weight: normal;
  height: auto;
}

form .form-cont .select-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

form .form-cont .select-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

form .form-cont .btn-submit-cont {
  padding-top: 15px;
}

.radio-wrapper {
  padding-top: 5px;
  max-width: 520px;
}

.radio-wrapper .flex-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.radio-wrapper .flex-25 > div {
  width: 25%;
}

.datepicker-panel > ul:nth-child(1) > li {
  padding-top: 10px;
}

.hidden {
  display: none;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@-o-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.daterangepicker .drp-buttons .btn {
  border: none;
  outline: none;
}

.daterangepicker .drp-buttons .btn.cancelBtn {
  padding: 5px 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #0e9544;
  color: #000000;
  outline: none;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

.daterangepicker .drp-buttons .btn.applyBtn {
  padding: 5px 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #0e9544;
  border: 2px solid #0e9544;
  outline: none;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .ankets-container .bottom-row {
    padding-bottom: 30px;
  }
}

@media (max-width: 1100px) {
  .serch-sort-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .serch-sort-row .search-container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .review-info .info-item {
    width: 100%;
  }
  .ankets-container .info-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ankets-container .info-row .left-col {
    width: 100%;
  }
  .ankets-container .info-row .left-col .action-list {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ankets-container .info-row .right-col {
    width: 100%;
    padding-left: 0px;
  }
  .ankets-container .anket-answer .answer-text,
  .ankets-container .anket-form .form-response {
    padding-top: 25px;
  }
}

@media (max-width: 800px) {
  .ankets-container .anket-item .first-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ankets-container .anket-item .alert-container {
    padding-top: 10px;
  }
}

@media (max-width: 600px) {
  .search-container .search-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .search-container .search-row .btn-search-col {
    padding-top: 10px;
  }
  .ankets-container .source-list .item {
    padding-top: 5px;
  }
  .ankets-container .bottom-row {
    padding-bottom: 60px;
  }
  .ankets-container .anket-form .form-response {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ankets-container .anket-form .form-response .input-col {
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .ankets-container .anket-item .first-row .left-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ankets-container .anket-item .first-row .left-col .anket-date {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 15px;
  }
  .ankets-container .bottom-row .bottom-item {
    margin-right: 15px;
  }
  .ankets-container .type-form .form-add-type .input-col {
    padding-right: 0px;
  }
  .ankets-container .tag-form .form-add-tag,
  .ankets-container div.form-add-tag {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ankets-container .tag-form .form-add-tag .input-col,
  .ankets-container div.form-add-tag .input-col {
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .search-container .search-row .input-search {
    width: 100%;
  }
  .input-search-col {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .serch-sort-row .sort-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .serch-sort-row .sort-container .sort-title {
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=ankets.css.map */