$fontPage: Arial, Helvetica, sans-serif;
$widthMediunCol: 520px;
$maincolor: #0e9544;
$hoverColor: #008963;
.filter-wrapper {
    .select2-container--default .select2-selection--multiple .select2-selection__choice,
    .select2-container .select2-selection--multiple {
        background: transparent;
        border: none;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        border: none;
    }
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
    .select2-container--default .select2-selection--multiple {
        border: none;
        outline: none;
        background: transparent;
    }
    .select2-selection--multiple {
        padding-right: 15px;
        &:before {
            content: "";
            position: absolute;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 10px;
            height: 10px;
            background: url(./../img/arrow-select.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
        background: url(./../img/arrow-select.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: transform 0.3s ease;
        pointer-events: none;
        border: none;
        b {
            display: none;
        }
        .select2-container--open .select2-selection--single .select2-selection__arrow {
            transform: rotate(180deg);
        }
    }
}
.serch-sort-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .add-review {
        padding-bottom: 20px;
    }
}
.sort-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 20px;
    .sort-title {
        font-family: $fontPage;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #605A5A;
        padding-right: 10px;
    }
    select {
        width: 160px;
        max-width: 100%;
    }
}
.search-container {
    padding-top: 15px;
    padding-bottom: 20px;
    .search-title {
        font-family: $fontPage;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: #605A5A;
        padding-bottom: 15px;
    }
    .search-row {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        .input-search {
            background: #FFFFFF;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            outline: none;
            border: none;
            font-family: $fontPage;
            font-size: 15px;
            line-height: 17px;
            width: 345px;
            max-width: 100%;
            padding: 10px 15px;
        }
        .btn-search {
            background: $maincolor;
            border-radius: 10px;
            font-family: $fontPage;
            font-weight: bold;
            font-size: 15px;
            line-height: 17px;
            color: #FFFFFF;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 15px;
            margin-left: 12px;
            transition: background 0.3s ease-in;
            &:hover {
                background: $hoverColor;
            }
        }
    }
}
.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.white-info-block {
    &.expired {
        box-shadow: 0px 0px 10px 2px rgba(223, 27, 27, 0.3);
    }
}
.alert-container {
    .label-alert {
        padding: 10px 15px;
        border-radius: 5px;
        font-family: $fontPage;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        display: inline-block;
        &.label-new {
            background: #8986c0;
        }
        &.label-work {
            background: #fdbd83;
        }
        &.label-revision {
            background: #ece270;
        }
        &.label-approval {
            background: #fdbd83;
        }
        &.label-closed {
            background: #0acc54;
        }
        &.label-expired {
            background: #f29db2;
        }
    }
}
.labels-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    .label-item {
        width: 33.3%;
        border-radius: 20px;
        padding: 15px 30px;
        padding-right: 50px;
        position: relative;
        max-width: 350px;
        flex-wrap: wrap;
        margin-right: 30px;
        margin-bottom: 10px;
        min-width: 200px;
        &:last-child {
            margin-right: 0px;
        }
        &.label-violet {
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: #5b52a5;
                box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
                filter: blur(1px);
                opacity: 0.8;
                z-index: 5;
                border-radius: 20px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: url(./../img/label-violet-bg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 10;
                opacity: 0.8;
                border-radius: 20px;
            }
        }
        &.label-orange {
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: #FFAF67;
                box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
                filter: blur(1px);
                opacity: 0.8;
                z-index: 5;
                border-radius: 20px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: url(./../img/label-orange-bg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 10;
                opacity: 0.8;
                border-radius: 20px;
            }
        }
        &.label-pink {
            &::before {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: rgba(244, 71, 113, 0.62);
                box-shadow: 0px 10px 20px rgba(51, 42, 124, 0.2);
                filter: blur(1px);
                opacity: 0.8;
                z-index: 5;
                border-radius: 20px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: url(./../img/label-pink-bg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 10;
                opacity: 0.8;
                border-radius: 20px;
            }
        }
        .label-row {
            position: relative;
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .info-col {
            .value {
                font-family: $fontPage;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 29px;
                color: #FFFFFF;
                padding-bottom: 5px;
            }
            .name {
                font-family: $fontPage;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
            }
        }
        .icon-col {
            .label-icon {
                width: 32px;
                height: 32px;
                &.icon-synchr {
                    background: url(./../img/icon-synchr.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &.icon-sent {
                    background: url(./../img/icon-sent.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &.icon-attention {
                    background: url(./../img/icon-attention.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}
.review-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    .info-header {
        padding-top: 25px;
        padding-bottom: 15px;
        font-size: 22px;
        line-height: 24px;
        width: 100%;
        text-align: center;
    }
    .info-item {
        padding-bottom: 15px;
        max-width: 520px;
        width: calc(50% - 20px);
        .info-label {
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 5px;
        }
        .info-value {
            border: 1px solid #BEBEBE;
            border-radius: 5px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            padding: 10px 15px;
            outline: none;
            width: 100%;
            max-width: 520px;
        }
    }
}
.ankets-container {
    background: #FFFFFF;
    border: 1px solid #D6D4D4;
    border-radius: 5px;
    .anket-item,
    .anket-form,
    .anket-answer {
        padding: 30px 25px;
    }
    .anket-item {
        position: relative;
        &.expired {
            box-shadow: 0px 0px 10px 2px rgba(223, 27, 27, 0.3);
        }
        .first-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left-col {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .anket-date {
                    padding-left: 25px;
                }
            }
        }
        .anket-date {
            font-family: $fontPage;
            font-weight: normal;
            font-size: 15px;
            line-height: 17px;
            color: #BEBEBE;
        }
        .btn-answer {
            border: 2px solid $maincolor;
            border-radius: 10px;
            padding: 10px 25px;
            font-family: $fontPage;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 17px;
            color: $maincolor;
            display: inline-block;
            cursor: pointer;
            position: absolute;
            right: 25px;
            bottom: 35px;
            transition: border-color 0.3s ease-in;
            &:hover {
                border-color: $hoverColor;
            }
        }
        .top-row {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }
    .timer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;
        &.red {
            color: red;
            animation: blinker 1s linear infinite;
        }
        .sep {
            padding-bottom: 2px;
            padding-right: 1px;
            padding-left: 1px;
        }
    }
    .btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .info-row {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        .left-col {
            width: 180px;
        }
        .right-col {
            padding-left: 25px;
            width: calc(100% - 180px);
        }
    }
    .stars-wrapper {
        display: inline-flex;
        max-width: 180px;
        padding-top: 25px;
        .star{
            margin-left: 10px;
            width: 27px;
            height: 27px;
            background-image: url('../img/star.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .star-empty {
            margin-left: 10px;
            width: 27px;
            height: 27px;
            background-image: url('../img/star-empty.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; 
        }
        .star:first-child{
            margin-left: 0;
        }
    }
    .action-list {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        .list-item {
            display: inline-block;
            width: 150px;
            max-width: 100%;
            font-family: $fontPage;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #535050;
            position: relative;
            padding-right: 20px;
            padding-bottom: 10px;
            text-decoration: none;
            &.active {
                .icon {
                    background: $maincolor;
                }
            }
            .icon {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: none;
                outline: none;
                background: #C4C4C4;
                right: 0px;
                top: 0px;
                position: absolute;
                &.icon-make-main {
                    &::after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        background: url(./../img/icon-office-push-pin.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 3px;
                        left: 2.5px;
                    }
                }
                &.icon-experts-answer {
                    &::after {
                        content: "";
                        width: 8px;
                        height: 8px;
                        background: url(./../img/icon-experts-amswer.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 4px;
                        left: 4px;
                    }
                }
            }
        }           
    }
    .source-list {
        padding-bottom: 25px;
        .item {
            font-family: $fontPage;
            font-weight: normal;
            font-size: 15px;
            line-height: 17px;
            color: #BEBEBE;
            padding-right: 25px;
            display: inline-block;
            &.source-item {
                position: relative;
                padding-left: 20px;
                &::before {
                    content:"";
                    display: block;
                    width: 13px;
                    height: 13px;
                    position: absolute;
                    left: 0px;
                    top: 3px;
                }
                &.google-map {
                    &::before {
                        background-image:url('../img/google-maps.svg');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.unilab-icon {
                    &::before {
                        background-image:url('../img/unilab-icon.svg');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.icon-user {
                    &::before {
                        background-image:url('../img/user-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.yandex-map {
                    &::before {
                        background-image:url('../img/yandex-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.gis-icon {
                    &::before {
                        background-image:url('../img/2gis-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.facebook-social {
                    &::before {
                        background-image:url('../img/facebook-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.ok-social {
                    &::before {
                        background-image:url('../img/odnoklassniki-icon.svg');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.vk-social {
                    &::before {
                        background-image:url('../img/vk-icon.svg');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.youtube-social {
                    &::before {
                        background-image:url('../img/youtube-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                &.instagram-social {
                    &::before {
                        background-image:url('../img/instagram-icon.png');
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    .anket-text {
        font-family: $fontPage;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #605A5A;
        padding-top: 25px;
        max-width: $widthMediunCol;
        padding-bottom: 15px;
    }
    .anket-rate {
        .label {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 30px;
            padding-right: 15px;
            border-radius: 5px;
            font-family: $fontPage;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 11px;
            &.label-negative {
                display: inline-block;
                color: #F47474;
                background: rgba(223, 27, 27, 0.3);
                position: relative;
                &::before {
                    content: "";
                    background: url(./../img/icon-negative-answer.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    left: 5px;
                    top: 3px;
                    display: inline-block;
                }
            }
            &.label-neutral {
                display: inline-block;
                color: #F28E31;
                background: rgba(242, 142, 49, 0.3);
                position: relative;
                &::before {
                    content: "";
                    background: url(./../img/icon-neutral-answer.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    left: 5px;
                    top: 3px;
                    display: inline-block;
                }
            }
            &.label-positive {
                display: inline-block;
                color: #57BB4F;
                background: rgba(87, 187, 79, 0.3);
                position: relative;
                &::before {
                    content: "";
                    background: url(./../img/icon-positive-answer.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    left: 5px;
                    top: 3px;
                    display: inline-block;
                }
            }
        }
    }
    div.form-add-tag {
        display: flex;
        align-items: flex-start !important;
        justify-content: space-between;
        max-width: $widthMediunCol;
        .select2-container--default .select2-selection--single .select2-selection__clear {
            margin-right: 10px;
            color: #888;
            font-size: 10px;
        }
        .select2-container .select2-selection--multiple {
            min-height: 36px;
        }
        .select2-container .select2-selection--single .select2-selection__clear {
            padding-top: 2px;
        }
        .select2-container--krajee .select2-selection--multiple .select2-selection__choice {
            background: transparent;
            border: none;
            display: flex;
            align-items: center;
        }
        .select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove {
            margin-right: 5px;
        }
        .select2-container .select2-selection--multiple {
            display: inline-block;
            width: 100%;
        }
        .select2-container--default .select2-selection--single,
        .select2-container .select2-selection--single {
            padding: 10px 5px;
            position: relative;
        }
        .select2-container .select2-selection--single .select2-selection__rendered {
            font-size: 15px;
            line-height: 17px; 
        }
        .select2-container--krajee .select2-selection--single .select2-selection__arrow {
            border-left: none;
        }
        .select2-container--default .select2-selection--single .select2-selection__clear {
            margin-top: -10px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-size: 15px;
            line-height: 17px;
        }
        .select2-container--default .select2-selection--multiple {
            display: inline-block;
            width: 100%;
            font-size: 15px;
            line-height: 17px;
            padding: 3px 10px;
            min-height: 36px;
        }
        .select2-container--default .select2-selection--single .select2-selection__clear {
            height: 38px;
        }
        .select2-container .select2-selection--single,
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 100%;
        }
        .form-group {
            margin: 0px;
        }
        .input-col {
            width: 100%;
            padding-right: 25px;
            select {
                width: 100%;
            }
            .select2-container--default .select2-selection--multiple .select2-selection__choice {
                border: 1px solid $maincolor;
                background: transparent;
                border: none;
                font-family: $fontPage;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #605A5A;
                outline: none;
            }
            .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
                border-color: $maincolor;
                border: none;
            }
            input[type=text] {
                width: 100%;
                border: 1px solid #C5C5C5;
                border-radius: 10px;
                padding: 10px 15px;
                font-family: $fontPage;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #605A5A;
                outline: none;
                background: #F2F2F2;
            }
        }
        .btn-submit {
            background: $maincolor;
            border-radius: 10px;
            outline: none;
            border: none;
            font-family: $fontPage;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 17px;
            color: #FFFFFF;
            padding: 10px 20px;
            cursor: pointer;
            display: block;
            min-width: 130px;
            text-align: center;
            transition: background 0.3s ease-in;
            &:hover {
                background: $hoverColor;
            }

        }
    }
    .tag-form {
        padding-top: 20px;
        padding-bottom: 20px;
        display: none;

    }
    .label-list {
        padding-top: 15px;
        max-width: $widthMediunCol;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        .add-tag {
            width: 20px;
            height: 20px;
            background: url(./../img/icon-green-plus.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            cursor: pointer;
            position: relative;
            &:hover {
                .tooltip {
                    opacity: 1;
                }
            }
            .tooltip {
                position: absolute;
                opacity: 0;
                padding: 5px;
                font-family: $fontPage;
                font-size: 10px;
                line-height: 12px;
                color: rgb(55, 53, 63);
                transition: opacity 0.3s ease-in 0s;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
                background: #fff;
                border-radius: 5px;
                bottom: 30px;
                right: calc(100% - 45px);
                width: 80px;
                pointer-events: none;
                &::after{
                    content: '';
                    position: absolute;
                    left: calc(50% - 2.5px);
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #ffffff;
                    clear: both;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
                }
            }
        }
        .label {
            display: inline-block;
            margin-right: 15px;
            padding: 5px 8px;
            border-radius: 5px;
            font-family: $fontPage;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 11px;
            margin-bottom: 5px;
            &.label-blue {
                background: rgba(116, 175, 244, 0.3);
                color: #74AFF4;
            }
            &.label-green {
                background: rgba(129, 245, 127, 0.3);
                color: #81F57F;
            }
            &.label-orange {
                background: rgba(245, 198, 127, 0.3);
                color: #F5C67F;
            }
        }
    }
    .bottom-row {
        padding-top: 15px;
        .bottom-item {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            margin-right: 40px;
            text-decoration: none;
            outline: none;
            .icon {
                width: 12px;
                height: 12px;
                margin-right: 10px;
                &.icon-like {
                    background: url(./../img/icon-like.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &.icon-message {
                    background: url(./../img/icon-message.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &.icon-arrows {
                    background: url(./../img/icon-arrows.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            .count {
                font-family: $fontPage;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #A6A6A6;
            }
        }
    }
    .user-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 180px;
        .user-icon {
            min-width: 55px;
            width: 55px;
            height: 55px;
            background: #DADADA;
            border-radius: 50%;
            margin-right: 13px;
        }
        .user-name {
            font-family: $fontPage;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            text-overflow: ellipsis;
            max-width: 110px;
            overflow: hidden;

        }
        .user-phone,
        .user-email {
            font-size: 12px;
            padding-top: 2px;
            text-overflow: ellipsis;
            max-width: 110px;
            overflow: hidden;
            font-weight: 600;
            padding-bottom: 2px;
        }
    }
    .anket-box {
        position: relative;
        &:last-child {
            &::after {
                display: none;
            }
        }
        &::after {
            content: "";
            position: absolute;
            height: 1px;
            background: #F4F1F1;
            bottom: 0px;
            left: 22px;
            right: 22px;
        }
    }
    .anket-form {
        background: #F2F2F2;
        display: none;
        .form-response {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .input-col {
                width: 100%;
                max-width: $widthMediunCol;
                padding-right: 25px;
                textarea {
                    width: 100%;
                    resize: none;
                    border: 1px solid #C5C5C5;
                    border-radius: 10px;
                    min-height: 75px;
                    padding: 10px 15px;
                    font-family: $fontPage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #605A5A;
                    outline: none;
                    background: #F2F2F2;
                }
            }
      
            .btn-submit {
                background: $maincolor;
                border-radius: 10px;
                outline: none;
                border: none;
                font-family: $fontPage;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 17px;
                color: #FFFFFF;
                padding: 10px 20px;
                cursor: pointer;
                transition: background 0.3s ease-in;
                &:hover {
                    background: $hoverColor;
                }
    
            }
        }
    }
    .anket-answer {
        background: #F2F2F2;
        .answer-text {
            font-family: $fontPage;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            color: #605A5A;
        }
    }
}
.ankets-container .type-form .form-add-type .btn-submit {
    min-width: 130px;
    text-align: center;
}
.btn-default {
    padding: 10px 15px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: $maincolor;
    border: 2px solid $maincolor;
    outline: none;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
    display: inline-block;
    &:hover {
        background-color: $hoverColor;
    }
}
.btn-invert {
    padding: 10px 15px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $maincolor;
    text-decoration: none;
    background-color: #ffffff;
    border-color: $maincolor;
    border: 2px solid $maincolor;
    outline: none;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
    display: inline-block;
}
.work-block {
    padding-top: 20px;
}
.content-box {
    padding: 30px;
    background: #FFFFFF;
    border-radius: 5px;
}
form {
    .form-title {
        padding-bottom: 30px;
    }
    .form-cont {
        .input-item {
            padding-bottom: 15px;
            .input-label {
                padding-bottom: 10px;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
            }
            input[type=text] {
                border: 1px solid #BEBEBE;
                border-radius: 5px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                padding: 10px 15px;
                outline: none;
                width: 100%;
                max-width: 520px;
                &:focus {
                    border-color: $maincolor;
                }
            }
            textarea {
                border: 1px solid #BEBEBE;
                border-radius: 5px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                padding: 10px 15px;
                outline: none;
                width: 100%;
                resize: none;
                max-width: 520px;
                &:focus {
                    border-color: $maincolor;
                }
            }
            .answer-template {
                min-height: 82px;
            }
            .radio-item {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                padding-bottom: 10px;
                padding-right: 10px;
            }
            input[type=checkbox],
            input[type=radio] {
                display: none;
                &:checked + label::before {
                    background: $hoverColor;
                    border-color: $hoverColor;
                }
                & + label {
                    cursor: pointer;
                    display: inline-flex;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;
                }
                & + label::before {
                    content: "";
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    min-width: 15px;
                    min-height: 15px;
                    border: 1px solid $maincolor;
                    border-radius: 50%;
                    margin-right: 10px;
                    transition: all 0.3s ease-in;
                    cursor: pointer;
                }
            }
        }
        .select-wrapper {
            width: 100%;
            select {
                width: 100%;
                max-width: 520px;
            }
            .select2-container {
                width: 100% !important;
                max-width: 520px;
                &.select2-container--open {
                    .select2-selection--single {
                        border-color: $maincolor;
                    }
                }
            }
            .select2-container--default .select2-selection--single {
                padding: 10px 5px;
                font-style: normal;
                font-weight: normal;
                height: auto;
                .select2-selection__rendered {
                    font-size: 14px;
                    line-height: 16px;
                    color: #000000;
                }
                .select2-selection__arrow {
                    height: 100%;
                }
            }
        }
        .btn-submit-cont {
            padding-top: 15px;
        }
    }
}
.radio-wrapper {
    padding-top: 5px;
    max-width: 520px;
    .flex-25 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        & > div {
            width: 25%;
        }
    }
}
.hidden {
    display: none;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.daterangepicker .drp-buttons .btn {
    border: none;
    outline: none;
    &.cancelBtn {
        padding: 5px 10px;
        border-radius: 5px;
        font-family: $fontPage;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        text-decoration: none;
        background-color: #fff;
        border: 2px solid $maincolor;
        color: #000000;
        outline: none;
        transition: background-color 0.3s ease-in;
        cursor: pointer;
    }
    &.applyBtn {
        padding: 5px 10px;
        border-radius: 5px;
        font-family: $fontPage;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        text-decoration: none;
        background-color: #0e9544;
        border: 2px solid $maincolor;
        outline: none;
        transition: background-color 0.3s ease-in;
        cursor: pointer;
    }
}
@media (max-width: 1200px){
    .ankets-container .bottom-row {
        padding-bottom: 30px;
    }
}
@media (max-width: 1100px){
    .serch-sort-row {
        flex-direction: column;
        align-items: flex-start;
        .search-container {
            width: 100%;
        }
    }
}
@media (max-width: 992px){
    .review-info .info-item {
        width: 100%;
    }
    .ankets-container .info-row {
        flex-direction: column;
        .left-col {
            width: 100%;
            .action-list {
                align-items: flex-start;
            }
        }
        .right-col {
            width: 100%;
            padding-left: 0px;
        }
    }
    .ankets-container .anket-answer .answer-text,
    .ankets-container .anket-form .form-response {
        padding-top: 25px;
    }
}
@media (max-width: 800px){
    .ankets-container .anket-item .first-row {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .ankets-container .anket-item .alert-container {
        padding-top: 10px;
    }
}
@media (max-width: 600px){
    .search-container .search-row {
        flex-direction: column;
        align-items: flex-end;
        .btn-search-col {
            padding-top: 10px;
        }
    }
    .ankets-container .source-list .item {
        padding-top: 5px;
    }
    .ankets-container .bottom-row {
        padding-bottom: 60px;
    }
    .ankets-container .anket-form .form-response {
        flex-direction: column;
        .input-col {
            padding-right: 0px;
            padding-bottom: 10px;
        }
    }
    .ankets-container .anket-item .first-row .left-col {
        flex-direction: column;
        align-items: flex-start;
        .anket-date {
            padding-right: 0px;
            padding-left: 0px;
            padding-top: 15px;
        }
    }
    .ankets-container .bottom-row .bottom-item {
        margin-right: 15px;
    }
    .ankets-container .type-form .form-add-type .input-col {
        padding-right: 0px;
    }
    .ankets-container .tag-form .form-add-tag,
    .ankets-container div.form-add-tag {
        flex-direction: column;
        .input-col {
            padding-right: 0px;
            padding-bottom: 10px;
        }
    }
    .search-container .search-row .input-search {
        width: 100%;
    }
    .input-search-col {
        width: 100%;
    }
}
@media (max-width: 400px){
    .serch-sort-row .sort-container {
        flex-direction: column;
        align-items: flex-start;
        .sort-title {
            padding-bottom: 10px;
        }
    }
}